@import url("https://fonts.googleapis.com/css2?family=Mulish");

:root {
  --bg-color: #fff;
  --primary-color: #259ded;
}

* {
  font-family: "Mulish", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #e9e9e9;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
}

.background {
  background: url("https://images.unsplash.com/photo-1471922694854-ff1b63b20054?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1172&q=80")
    no-repeat center center/cover;
  position: absolute;
  top: -20px;
  bottom: -20px;
  left: -20px;
  right: -20px;
  z-index: -1;
  filter: blur(20px);
}

.container {
  background-color: var(--bg-color);
  color: #aaa;
  padding: 20px 40px;
  border-radius: 5px;
box-shadow: 0px 0px 5px #ccc;
}

.container h1 {
  text-align: center;
  margin-bottom: 30px;
}
h1 {
  color: var(--primary-color);
  letter-spacing: 3px;
}

.container a {
  text-decoration: none;
  color: var(--primary-color);
}

.btn {
  cursor: pointer;
  color: #fff;
  letter-spacing: 2px;

  display: inline-block;
  width: 100%;
  background: var(--primary-color);
  padding: 15px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.btn:focus {
  outline: 0;
}

.btn:active {
  transform: scale(0.98);
}

.text {
  margin-top: 30px;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 300px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #aaa;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #666;
}

.form-control input:focus,
.form-control input:valid {
  outline: none;
  border-bottom: 3px solid #ddd;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
  transform: translateY(-30px);
}
