@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: rgb(63,94,251);
background: linear-gradient(0deg, rgba(63,94,251,1) 0%, rgba(83,252,70,1) 100%);
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.btn {
  background-color: #fff;
  color: #333;
  font-family: inherit;
  font-weight: bold;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.5);
  border: none;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

#toasts {
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.toast {
  background-color: #fff;
  border-radius: 5px;
  padding: 1rem 2rem;
  margin: 0.5rem;
}

.toast.info {
  color: rgb(180, 169, 4);
}

.toast.success {
  color: rgb(0, 128, 0);
}

.toast.error {
  color: rgb(231, 12, 12);
}