@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #222;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h1{
  margin: 10px;
  color: #fff;
}
.box{
  background-color: rgb(206, 37, 122);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  margin: 10px;
  border-radius: 10px;
  transform: translateX(400%);
  transition: transform 0.4s ease;
} 

.box:nth-of-type(even){
  transform:translateX(-400%);
}
.box.show{
  transform: translateX(0);
}
.box h2{
  font-size: 30px;

}