@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
  overflow: hidden;
  transition: 0.6s;
 /*  
 This line is added by js
 background-image: url(https://images.unsplash.com/photo-1613109526778-27605f1f27d2?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2100&q=80); */
  background-position: center center;
  background-size: cover;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: -1;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  height: 70vh;
  width: 70vw;
  position: relative;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 100vh;
  width: 100vw;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: -15vh;
  left: -15vw;
  transition: 0.4s ease;
  z-index: 1;
}

.slide.active {
  opacity: 1;
}
.arrow {
  position: fixed;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.363);
  padding: 20px;
  font-size: 30px;
  border: 0; 
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;   
  transition: 0.3s ease; 
}
.arrow:hover {
  
  color: #fff;
}

  .left-arrow {
  left: calc(15vw - 65px);
}

.right-arrow {
  right: calc(15vw - 65px);
}