@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Muli", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
  

}
h1{
  
  color: #fff;
  font-size: 4rem;
  margin-bottom: 100px;
  text-transform: uppercase;
 
}

a{
  position: relative;
  width: 160px;
  height: 50px;
  line-height: 48px;
  background-color: black;
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 4px;
  text-decoration: none;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);
  

}

a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00 ) ;
 background-size: 400%;
   opacity: 0; 
  
  transition: 0.5s;
  animation: animate 20s linear infinite; 
}
 a::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #fb0094, #00f, #0f0, #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00 ) ;
  background-size: 400%;
   opacity: 0; 
  filter: blur(30px);
  transition: 0.5s;
  animation: animate 20s linear infinite;
}
a:hover::before, 
a:hover::after{
  opacity: 1;
}

@keyframes animate{
   0%{
     background-position: 0 0;
   }
   50%{
     background-position: 300% 0;
   }
   100%{
     background-position: 0 0;
   }
} 

a span{
  position: absolute;
  display: block;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  text-align: center;
  background: #0c0c0c;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  z-index: 1;

}
a:hover span{
  color: rgba(255, 255, 255, 1);
}

a span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1); ;
}



