@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; 
  margin: 0;
}

canvas {
 
  background-color: #fff;
}

.toolbox {
  background: rgb(6,6,48);
  background: linear-gradient(90deg, rgba(6,6,48,0.908000700280112) 0%, rgba(0,212,255,1) 100%);
 
  display: flex;
  width: 600px;
  padding: 1rem;
}

.toolbox > * {
  background-color: #fff;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 2rem;
  height: 50px;
  width: 50px;
  margin: 0.25rem;
  padding: 0.25rem;
  cursor: pointer;
}

.toolbox > *:last-child {
  margin-left: auto;
}
