* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background: url("https://images.unsplash.com/photo-1604608676190-5201ba9c90cb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1104&q=80")
    no-repeat center center/cover;
}

path {
  stroke: #fff;
  fill: #fff;
  stroke-dasharray: 1800;
  opacity: 10;
  animation: animate 3s cubic-bezier(0, 0.23, 1, 0.1);
}

@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 1800;
  }
  30% {
    opacity: 10;
    fill: none;
    stroke-dashoffset: 1800;
  }
  90% {
    fill: rgba(255, 255, 255, 0);
  }
  100% {
    opacity: 10;
    fill: rgba(255, 255, 255, 1);
    stroke-dashoffset: 0;
  }
}
