@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

body {
  background: rgb(188,170,164);
background: linear-gradient(180deg, rgba(188,170,164,1) 1%, rgba(255,255,255,1) 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
h1{
  text-transform: uppercase;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 5px;
  color: #fff;
  text-shadow: 1px 3px 0 #969696, 1px 13px 5px #aba8a8;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.cardWrap {
  
  transform: perspective(1000px);
  transform-style: preserve-3d;
  cursor: pointer;
}

.cardWrap:hover .cardInfo {
  transform: translateY(0);
}

.cardWrap:hover .cardInfo p {
  opacity: 1;
}

.cardWrap:hover .cardInfo,
.cardWrap:hover .cardInfo p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardWrap:hover .cardBg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.cardWrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1),
    box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(255, 255, 255, 0.2) 0 0 40px 5px, white 0 0 0 1px,
    rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px,
    inset white 0 0 0 6px;
}

.card {
  position: relative;
  width: 320px;
  height: 320px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.66) 0 15px 30px 0, inset #333 0 0 0 5px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.cardBg {
  opacity: 0.6;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95),
    opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}

.cardInfo {
  width: 280px;
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(25%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo p {
  opacity: 0;
  text-shadow: black 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.cardInfo * {
  position: relative;
  z-index: 1;
}

.cardInfo h3 {
  font-family: "Playfair Display";
  font-size: 26px;
  font-weight: 700;
  text-shadow: 0px 0px 2px #111;
  margin-bottom: 15px;
}
