@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  font-family: 'Mulish', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #EAFBFF;
  background-image: linear-gradient(
      to bottom,
      #eafbff 0%,
      #eafbff 50%, 
      #5290f9 50%,
      #5290f9 100%    
  );
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

nav {
  background-color: white;
  padding: 20px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.3);
  transition: width 0.6s linear;
}

nav.active {
  width: 350px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 0;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav ul li {
  transform: rotateY(0deg);
  opacity: 0;
  transition: transform 0.6s linear, opacity 0.6s linear;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(360deg);
}

nav ul a {
  position: relative;
  color: black;
  text-decoration: none;
  margin: 0 10px;
}

.icon {
  background-color: white;
  border: none;
  cursor: pointer;
  position: relative;
  height: 30px;
  width: 30px;
}

.icon:focus {
  outline: none;
}

.icon .line {
  background-color: #5290f9;
  height: 2px;
  width: 20px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6s linear;
}

.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}