@import url("https://fonts.googleapis.com/css2?family=Mulish");

* {
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #e9e9e9;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: #fff;
    color: #aaa;
    padding: 20px 40px;
    border-radius: 5px;
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
  
}
h1{
  color: #ed2553;
  letter-spacing: 3px;
}

.container a {
    text-decoration: none;
    color: #ed2553;
}

.btn {
    cursor: pointer;
    color: #fff;
    letter-spacing: 2px;
    
    display: inline-block;
    width: 100%;
    background: #ed2553;
    padding: 15px;
    font-family: inherit;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}

.btn:focus {
    outline: 0;
}

.btn:active {
    transform: scale(0.98);
}

.text{
    margin-top: 30px;
}

.form-control {
    position: relative;
    margin: 20px 0 40px;
    width: 300px;
}

.form-control input {
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #aaa;
    display: block;
    width: 100%;
    padding: 15px 0;
    font-size: 18px;
    color: #666;
}

.form-control input:focus, 
.form-control input:valid {
    outline: none;
    border-bottom: 3px solid #ddd;
}

.form-control label  {
    position: absolute;
    top: 15px;
    left: 0;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span,
.form-control input:valid + label span {
    
    transform: translateY(-30px);
}