@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Muli";
  font-size: 20px;
}
section {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: flex-start;
  background: rgb(18,18,177);
  background: linear-gradient(355deg, rgba(18,18,177,0.908000700280112) 0%, rgba(17,17,17,1) 100%);
  flex-direction: column;
  padding: 50px 0;
}
section h1 {
  color: #fff;
  text-align: center;
  width: 100%;
  font-size: 50px;
  margin-bottom: 10px;
}
section p {
  text-align: center;
  color: #f1f1f1;
  width: 100%;
  margin-bottom: 40px;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  justify-content: center;
}
.texts p {
  
  color: black;
  text-align: left;
  width: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}
.texts p.replay {
  text-align: right;
}
