@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgb(181, 221, 171);
  margin: 0;
  text-align: center;
  overflow: hidden;
}


.btn{
  background-color: rgb(33, 82, 21);
  border-radius: 5px;
  border: none;
  color: white;
  margin: 1rem;
  padding: 1.5rem 3rem;
  font-size: 1.2rem;
  font-family: inherit;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.9;
}

.btn:focus {
  outline: none;
}
