*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.logo{
  height: 200px;
  position: absolute;
  z-index: 4;
  left: 50%;
  transform: translateX(-50%);

}
.logo img{
  height: 100%;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
}

.container{
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: #fff;
}

.container::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(90deg, #fff1 0px, #fff1 1px, transparent 1px, transparent 10px),
              repeating-linear-gradient(0deg, #fff1 0px, #fff1 1px, transparent 1px, transparent 10px);
  background-size: 10px 10px;
  z-index: 1;
  
}

.container .card{
  position: relative;
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  transition: 0.5s ease-in-out;
  justify-content: center;
  align-items: center;
}


.container .card:hover{
  flex-grow: 3;
  background: #1a1a1a;
}

.container .card ion-icon{
  color: #333;
  font-size: 15vw;
  transition: 0.5s ease-in-out;
  z-index: 3;
  filter: drop-shadow(5px 5px 4px rgba(0, 0, 0, 0.5));
}

.container .card:hover ion-icon {
  font-size: 25vw;
  color: #fff;
  filter: drop-shadow(0 0 10px #ea4884)
          drop-shadow(0 0 30px #ea4884)
          drop-shadow(0 0 60px #ea4884)
          drop-shadow(0 0 100px #ea4884)
          drop-shadow(0 0 150px #ea4884);
}