@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background: rgb(241,241,241);
  background: linear-gradient(0deg, rgba(241,241,241,1) 0%, rgba(243,136,162,1) 100%);
  overflow: hidden;
}

.title{
  text-align: center;
  margin-top: 80px;
  font-family: 'Shadows Into Light', cursive;
  font-size: 50px;
  letter-spacing: 5px;
  color: white;
  text-shadow: 2px 2px 5px #444;
}

.container__slider{
  max-width: 1000px;
  height: 500px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}

input[type=radio]{
  display: none;
}

.container{
  width: 100%;
  max-width: 800px;
  height: 100%;
  max-height: 600px;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards{
  position: relative;
  width: 100%;
  height: 100%;
}

.card{
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
}


#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
  transform: translateX(-40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
  transform: translateX(40%) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
  transform: translateX(0) scale(1);
  z-index: 1;
}