@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');

* {
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #7bdaf3;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
  background: url('https://previews.123rf.com/images/weerapat/weerapat1701/weerapat170100019/71699317-textura-de-madera-tablero-de-madera-de-osb-para-la-decoraci%C3%B3n-del-fondo.jpg') repeat center center/cover;
  height: 100vh;
}

.add {
  position: fixed;
  top: 1rem;
  right: 1rem;
  background-color: #868466;
  color: #fff;
  border:none;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.add:active {
  transform: scale(0.98);
}

.note {
  background-color: #eae672;
  box-shadow: 0 0 10px 4px rgba(0, 0, 0, 0.1);
  margin: 30px 20px;
  height: 300px;
  width: 300px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  transform: rotate(1deg);
  font-family: 'Gloria Hallelujah', cursive;
  color: #040e9b;
  font-size: 1.2rem;
}

.note .tools {
  position: relative;
  background-color:  #eae672;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
}

.note .tools button {
  background-color: transparent;
  border: none;
  color: #aaa;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 0.5rem;
}

.note textarea {
  background-color: #eae672;
  outline: none;
  font-family: 'Gloria Hallelujah', cursive;
  color: #040e9b; 
  font-size: 1.2rem;
  border: none;
  height: 260px;
  width: 100%;
  padding: 20px;
}

.main {
  padding: 0px 20px 20px 20px;
}

.hidden {
  display: none;
}

/* //////////////Pin////////////////// */
.pin {
  background-color: #aaa;
  display: block;
  height: 32px;
  width: 2px;
  position: absolute;
  left: 50%;
  top: -16px;
  z-index: 1;
  transform: rotate(3deg);
}
.pin:after {
  background-color: #A31;
  background-image: radial-gradient(25% 25%, circle, hsla(0,0%,100%,.3), hsla(0,0%,0%,.3));
  border-radius: 50%;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.1),
              inset 3px 3px 3px hsla(0,0%,100%,.2),
              inset -3px -3px 3px hsla(0,0%,0%,.2),
              23px 20px 3px hsla(0,0%,0%,.15);
  content: '';
  height: 12px;
  left: -5px;
  position: absolute;
  top: -10px;
  width: 12px;
}
.pin:before {
  background-color: hsla(0,0%,0%,0.1);
  box-shadow: 0 0 .25em hsla(0,0%,0%,.1);
  content: '';
  height: 24px;
  width: 2px;
  left: 0;
  position: absolute;
  top: 8px;

transform: rotate(57.5deg);
  -moz-transform: rotate(57.5deg);
  -webkit-transform: rotate(57.5deg);
  -o-transform: rotate(57.5deg);
  -ms-transform: rotate(57.5deg);

  transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
}